.header {
  height: 75px;
  background-color: #fff;
  border-bottom: 1px solid #edeeee;
}

.header .wrap {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header .logo { cursor: default; }
.header .logo img { vertical-align: middle; }

.header .search input {
  width: 216px;
  height: 28px;
  border-radius: 14px;
  border: 1px solid #edeeee;
  background-color: var(--main-color);
  outline: none;
  text-align: center;
  background-image: url("./search-icon.png");
  background-repeat: no-repeat;
  background-position-x: calc(50% - 30px);
  background-position-y: calc(50%);
  padding-left: 27px;
  padding-right: 20px;
  font: 300 15px/28px var(--main-font);
  color: #84878a;
}

.header .search input:focus {
  background-position-x: 12px;
  text-align: left;
  background-color: #fff;
}

.header .login-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .login-buttons .profile-btn {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
  display: flex;
}

.header .login-buttons .profile-btn:hover { background-color: var(--accent-color); }
.header .login-buttons .profile-btn:active { transform: translateY(1px); }

.header .login-buttons .profile-btn svg {
  box-sizing: content-box;
  margin: auto;
  fill: #4090db;
  border: 5px solid transparent;
}

.header .login-buttons .profile-btn svg:hover {
  fill: #fff;
}

.header .login-buttons button,
.header .login-buttons a {
  padding: 0;
  border: 1px solid var(--accent-color);
  padding-left: 20px;
  padding-right: 20px;
  height: 28px;
  font: 700 16px/26px var(--main-font);
  color: var(--accent-color);
  border-radius: 14px;
  background-color: transparent;
  outline: none;
  text-decoration: none;
  cursor: default;
}

.header .login-buttons button:hover,
.header .login-buttons a:hover {
  background-color: var(--accent-color);
  color: #fff;
}

.header .login-buttons button:active,
.header .login-buttons a:active { transform: translateY(1px); }
.header .login-buttons a:first-child { margin-right: 20px; }
