* { box-sizing: border-box; }

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-ThinItalic.ttf');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-RegularItalic.ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Black.ttf');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
}


/* sedgwick-ave-regular - latin */
@font-face {
  font-family: 'Sedgwick Ave';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/sedgwick-ave-v3-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Sedgwick Ave Regular'), local('SedgwickAve-Regular'),
       url('/fonts/sedgwick-ave-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/sedgwick-ave-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/sedgwick-ave-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/sedgwick-ave-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/sedgwick-ave-v3-latin-regular.svg#SedgwickAve') format('svg'); /* Legacy iOS */
}

/* indie-flower-regular - latin */
@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/indie-flower-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Indie Flower'), local('IndieFlower'),
       url('/fonts/indie-flower-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/indie-flower-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/indie-flower-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/indie-flower-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/indie-flower-v9-latin-regular.svg#IndieFlower') format('svg'); /* Legacy iOS */
}

/* kavivanar-regular - latin */
@font-face {
  font-family: 'Kavivanar';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/kavivanar-v3-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Kavivanar Regular'), local('Kavivanar-Regular'),
       url('/fonts/kavivanar-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/kavivanar-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/kavivanar-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/kavivanar-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/kavivanar-v3-latin-regular.svg#Kavivanar') format('svg'); /* Legacy iOS */
}

/* lobster-regular - latin */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/lobster-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lobster Regular'), local('Lobster-Regular'),
       url('/fonts/lobster-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/lobster-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/lobster-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/lobster-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/lobster-v20-latin-regular.svg#Lobster') format('svg'); /* Legacy iOS */
}


/* Material icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/iconfont/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('/fonts/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
       url('/fonts/iconfont/MaterialIcons-Regular.woff') format('woff'),
       url('/fonts/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
 font-family: 'Material Icons';
 font-weight: normal;
 font-style: normal;
 font-size: 24px;  /* Preferred icon size */
 display: inline-block;
 line-height: 1;
 text-transform: none;
 letter-spacing: normal;
 word-wrap: normal;
 white-space: nowrap;
 direction: ltr;

 /* Support for all WebKit browsers. */
 -webkit-font-smoothing: antialiased;
 /* Support for Safari and Chrome. */
 text-rendering: optimizeLegibility;

 /* Support for Firefox. */
 -moz-osx-font-smoothing: grayscale;

 /* Support for IE. */
 font-feature-settings: 'liga';
}