.header {
  /* height: 75px; */
  background-color: #fff;
  border-bottom: 1px solid #edeeee;
}

.header .wrap {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header .logo {
  cursor: default;
  font: 700 28px/1.6em var(--test-font);
  /* font-style: italic; */
  color: var(--accent-color);
  text-decoration: none;
  outline: none;
  border-radius: 18px;
  background-color: transparent;
}

.header .logo:hover { text-decoration: underline; }

.header .logo:active { transform: translateY(1px); }

.header .search input {
  width: 216px;
  height: 28px;
  border-radius: 14px;
  border: 1px solid #edeeee;
  background-color: var(--main-color);
  outline: none;
  text-align: center;
  padding-left: 28px;
  padding-right: 20px;
  font: 300 15px/28px var(--main-font);
  color: #84878a;
}

.header .search input:focus {
  text-align: left;
  background-color: #fff;
}

.header .search input:focus + i.material-icons {
  left: 8px;
}

.header .search { position: relative; }
.header .search i.material-icons {
  position: absolute;
  color: #c9c9c9;
  font-size: 18px;
  top: calc(50% - 9px);
  left: 66px;
}

.header .navigation {
  display: flex;
  align-items: center;
}

.header .navigation > * {
  margin-left: 12px !important;
}