:root {
  --main-font: "Roboto", "sans-serif";
  --main-color: #fafafa;
  --accent-color: #4090db;
}

.wrap {
  width: 935px;
  margin-left: auto;
  margin-right: auto;
}

body { margin: 0; }

* { box-sizing: border-box; }