.footer {
  background-color: var(--main-color);
  color: var(--accent-color);
  font: 700 12px/1em var(--main-font);
  text-transform: uppercase;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 112px;
}

.footer .wrap {
  display: flex;
  justify-content: space-between;
}